
body{
	font-family:Arial, Helvetica, sans-serif;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.h1 {
    padding: 10px
    color:  #3D3D3D;
    background-color: #E1EDF2;
}
.h2 {
    border-bottom: 2px solid black;
}

figure {
    /*display: block;
    width: auto;
    height: auto;*/
    text-align: center;
    background-position: center;
    background-color:whitesmoke;
    border: 1px solid lightgrey;
    margin: 30px;
    padding: 15px;
    margin-top: 10px;
}
.figure1 {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.figure2 {
    width: 275px;
    float: right;
}
figure img {
    width: 100%;
}




/*    contatos    */
.div_contatos{
    padding: 10px;
}
.padrão1{
    width: 500px;
    height: 30px;
}
.padrão2{
	placeholder:
    text-align: top;
    width: 500px;
    height: 300px;
}
.botao{
    width: 100px;
    height: 50px;
    background:white;
    font-weight: bold;
}
input:invalid {
   box-shadow: 1px red;
   /*  border: 2px dashed red;*/
  }
 
/*  
 input:valid {
    border: 2px solid black;
  }
input:focus:invalid {
    box-shadow: none;
  }   <<<<<<< HEAD

=======
  >>>>>>> 699eaf4488e67c06a306fd24af722a4d5b09a6cf
*/
