
body{
	font-family:Arial, Helvetica, sans-serif;
   
}
h1 {
    color:  #3D3D3D;
    background-color: #E1EDF2;
}
h2 {
    border-bottom: 1px solid black;
}

figure {
    /*display: block;
    width: auto;
    height: auto;
    text-align: center;*/
    background-position: center;
    background-color:whitesmoke;
    font-display: lightgrey;
}

